dj-database-url
dj-static
Django
python-decouple
pytz
static3
easy-thumbnails
gunicorn
psycopg2
psycopg2-binary
bpython
django-compressor
csscompressor
Pillow
django-taggit
djangorestframework
django-widget-tweaks
django-extensions
django-embed-video
django-activeurl
django-ckeditor
googlemaps
django-crispy-forms
mailchimp
django-newsletter-form
django-widget-tweaks
django-tinymce4-lite
django-filebrowser-no-grappelli
brazilnum
django-safe-filefield
django-floppyforms
beautifulsoup4