dj-database-url
dj-static
Django
python-decouple
static3
easy-thumbnails
gunicorn
psycopg2
psycopg2-binary
bpython
django-compressor
csscompressor
Pillow
django-taggit
djangorestframework
django-widget-tweaks
django-extensions
django-embed-video
googlemaps
django-crispy-forms
django-widget-tweaks
django-tinymce4-lite
django-filebrowser-no-grappelli